
<h1 class="bg-primary">welcome to {{title}}</h1>
<app-tasks></app-tasks>  <!--app.module.ts-->

<h4>list of completed tasks </h4>
<app-completed-tasks></app-completed-tasks>   <!-- todo.module.ts-->

<button (click) ="readMe()">Click me</button>

<div *ngIf="showMsg" [ngStyle] ="{'color':colorName}">showing this msg from If true stmt</div>
<div *ngIf="showMsg; else showElseMsg">show message</div>
<ng-template #showElseMsg>show else msg</ng-template>

<div *ngIf="showMsg; then showThenMsg; else showElseMsg"></div>
<ng-template #showElseMsg>show else msg</ng-template>
<ng-template #showThenMsg>show then msg</ng-template>

<h4>ngswitch</h4>
<div [ngSwitch]="switchValue">
    <div *ngSwitchCase="1">value passed:1</div>
    <div *ngSwitchCase="2">value passed:2</div>
    <div *ngSwitchCase="3">value passed:3</div>
    <div *ngSwitchDefault>this is a default value </div>
</div>

<h4>ngFor example</h4>
<table class="table">
    <tr>
        <th>User Id</th>
        <th>User Name</th>
        <th>Index</th>
        <th>first</th>
        <th>Last</th>
        <th>Even</th>
        <th>Odd</th>
    </tr>
    <tr *ngFor="let ele of users; index as i; first as f; last as l; even as e; odd as o">
        <td>{{ele.id}}</td>
        <td>{{ele.name}}</td>
        <td>{{i}}</td>
        <td>{{f}}</td>
        <td>{{l}}</td>
        <td>{{e}}</td>
        <td>{{o}}</td>
    </tr>
</table>


<router-outlet></router-outlet>