.login {
    display: grid;
    place-items: center;
    height: 80%;
    

    & > img {
        margin-top: 100px;
        height:50%;
    }
    
    button img {
        width:200px;
        height: 70px;
      }
}