
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="questions">
      <th mat-header-cell *matHeaderCellDef> questions </th>
      <td mat-cell *matCellDef="let element"> {{element.questions}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="excellent">
      <th mat-header-cell *matHeaderCellDef> Excellent </th>
      <td mat-cell *matCellDef="let element">{{element.excellent}} </td>
    </ng-container>
  
    <!-- created date Column -->
    <ng-container matColumnDef="good">
      <th mat-header-cell *matHeaderCellDef> Good </th>
      <td mat-cell *matCellDef="let element"> {{element.good}}</td>
    </ng-container>
  
    <!-- modified date Column -->
    <ng-container matColumnDef="average">
      <th mat-header-cell *matHeaderCellDef> Average</th>
      <td mat-cell *matCellDef="let element"> {{element.average}} </td>
    </ng-container>

    <!-- feedback Column -->
    <ng-container matColumnDef="poor">
        <th mat-header-cell *matHeaderCellDef> Poor</th>
        <td mat-cell *matCellDef="let element">{{element.poor}} </td>
      </ng-container>

      <ng-container matColumnDef="vpoor">
        <th mat-header-cell *matHeaderCellDef> Very Poor </th>
        <td mat-cell *matCellDef="let element"> {{element.vpoor}}</td>
      </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  


<div>
  <p> What can we do to improve our service?</p>
<mat-form-field class="example-form" appearance="fill">
    <mat-label>write here</mat-label>
    <textarea matInput rows="10" cols="40"></textarea>
  </mat-form-field>
 <div> <button mat-raised-button color="primary" type="submit" routerLink="/fourth">Submit</button></div>
</div>

