section.main-container{
    display: flex;
    background-color: white;
    font-size: 16px;
    height: 100%;



    app-sidebar{
        height: auto;
    }
    app-chat-area{
        height: 100%;
        flex: 1;
    }
}